Id: {{chosenArticle.id}}
<br/>
Title: {{chosenArticle.title}}
<br/>
<div ng-if="chosenArticle.rating<6">Rating: {{chosenArticle.rating}} (Bad)</div>
<div ng-if="chosenArticle.rating>5 && chosenArticle.rating<9">Rating: {{chosenArticle.rating}} (Solid)</div>
<div ng-if="chosenArticle.rating>9">Rating: {{chosenArticle.rating}} (Excellent)</div>
<br/>
Comments:
<div ng-repeat="comment in chosenArticle.comments">
    Id: {{comment.id}}
    <br/>
    Text: {{comment.text}}
</div>
<br/>
<a ng-click="favorite(article)">Favorite</a>
<a ui-sref="home">Back to articles</a>