<h1>Articles:</h1>
<input type="text" name="searchboxArticle" ng-model="searchText" ng-change="search()" placeholder="Search articles"/><br />
<div ng-repeat="article in articles">
    {{article.title}}
    <button ng-click="favoriteArticle(article.id)">Favorite</button>
    <button ui-sref="article-details({id: article.id})">Details</button>
</div>
<button ng-click="showMore()" ng-if="!allArticlesAreShown">Load more articles</button>
<div ng-if="allArticlesAreShown">All of the articles are loaded.</div>
<button ui-sref="favorite-list">Go to favorites</button>